.ipynb_checkpoints
__pycache__
*.pyc
.DS_Store

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep.virtual_documents/

# Jupyter temporary files
.virtual_documents/

# Generated results and model outputs
results/
*.nc

# Generated notebook outputs
notebooks/*.csv
notebooks/Fig_X_*
